<h1>Create User</h1>
<a href="/" class="btn btn-primary mb-1">All Users</a>
<form action="/create" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Phone</label>
    <input type="text" name="phone" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Create User</button>
</form>