<h1>Edit User</h1>
<a href="/" class="btn btn-info">All Users</a>
<form action="/update/{{user.id}}" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" name="name" value="{{user.name}}">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" name="email" value="{{user.email}}">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Phone</label>
    <input type="text" class="form-control" name="phone" value="{{user.phone}}">
  </div>

  <button type="submit" class="btn btn-primary">Update User</button>
</form>
